# Ignore node_modules (dependencies should be installed inside the container)
node_modules

# Ignore logs
logs
*.log

# Ignore local environment files
.env
.env.local

# Ignore Git files
.git
.gitignore

# Ignore Docker-related files (so they don't get copied into the container)
Dockerfile
docker-compose.yml

# Ignore IDE/editor configs
.vscode
.idea
.DS_Store
